<section>
  {{#each collections as |collection|}}
   <a href="/collections/{{collection.id}}"><h3>{{collection.name}}</h3></a> 
    <p>{{collection.message}}</p>
  {{/each}}
</section>
  <a href="/collections/create"><h6 class="btn btn-secondary">Create New Collection</h6></a> 