<h1>Create</h1>
<form action="/create" method="post">
    <label for="collection-name">Collection Name:</label>
    <input type="text" id="collection-name" name="collection-name" required><br>
    
    <label for="collection-message">Description:</label><br>
    <textarea id="collection-message" name="collection-message" rows="4" cols="50" required></textarea><br>
    
    <button class="btn btn-secondary" type="submit">Create Collection</button>
  </form>