<section>
  <p> Login Here </p>
  <form class="login-form" action="/submit_form" method="post">
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" name="email-login" required /><br /><br
    />

    <label for="password-login">Password:</label>
    <input
      type="password"
      id="password-login"
      name="password-login"
      required
    /><br /><br />
    <button type="'submit">Log In</button>
  </form>
</section>

<section>
  <p> Sign Up Here </p>
  <form class="signup-form" action="/submit_form" method="post">
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" name="email-signup" required /><br
    /><br />

    <label for="password-signup">Password:</label>
    <input
      type="password"
      id="password-signup"
      name="password-signup"
      required
    /><br /><br />
    <button type="'submit">Sign Up</button>
  </form>
</section>

<script src="../public/js/login.js"></script>