<h1>About Collectibles</h1>

<h3>Overview</h3>
<p>Welcome to Collectibles! Where you can upload and catalog all of your collections. Share them with friends, family, the world!</p>

<p>Have you ever thought you would love to show off your collectibles with everyone you talk to but hate the idea of them putting their fingers all over them? Well, worry no more!</p>

<p>Simply create a Collection and upload your pictures and that's it! Share it with everyone!</p>

<h3>Founding Story</h3>
<p>Collectibles was created as a group project for our full stack bootcamp. We needed to create a website that allowed us to utilize all of the knowledge that we learned over the past few months. After brainstorming for a few minutes we came up with the idea of a website that would allow someone to create, manage, and show any collection they wanted.</p>

<p>Our inspiration came from our own personal desires to share our unique collections with each other and the world. We liked the idea of a platform where the only purpose is to share our unique finds.</p>

<p>One of our biggest challenges was to find a resource that would allow our users to upload and store their pictures of their items. Jacklyn did a fantastic job researching this and was key in implementing the imagekit we use.

It was no easy task to create a fully interactive website from scratch. Each one of our team members played a vital part in flexing their knowledge muscle. We all worked together to problem-solve issues as they came up. It was so much fun working on a team.</p>

    <section>
      <h2>Our Team</h2>
      <p>Everyone played a key role in the creation of Collectibles but our initial team breakdown is as follows:</p>

      <div class="card mb-3">
        <h3 class="card-header">Taylor Golden:</h3>
        <div class="card-body">
            <h5 class="card-title">Project Manager</h5>
        <img src="/img/TG.png" class="d-block user-select-none" width="25%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        </img>
      </div>

      <div class="card mb-3">
        <h3 class="card-header">Danfeng Wang</h3>
        <div class="card-body">
            <h5 class="card-title">Front end/Back end</h5>
        <img src="/img/DW.png" class="d-block user-select-none" width="25%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        </img>
      </div>

      <div class="card mb-3">
        <h3 class="card-header">Jacklyn Barcal</h3>
        <div class="card-body">
            <h5 class="card-title">Content Creator</h5>
        <img src="/img/JB.png" class="d-block user-select-none" width="25%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        </img>
      </div>

      <div class="card mb-3">
        <h3 class="card-header">Evelyn Jimenez</h3>
        <div class="card-body">
            <h5 class="card-title">Database Admin</h5>
        <img src="/img/EJ.png" class="d-block user-select-none" width="25%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        </img>
      </div>

      <div class="card mb-3">
        <h3 class="card-header">Robbin Collins</h3>
        <div class="card-body">
            <h5 class="card-title">Front end/Back end</h5>
        <img src="/img/RC.png" class="d-block user-select-none" width="25%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        </img>
      </div>
      
    </section>

<h3>Future Goals</h3>
<p>In the future, we would love to implement a comment/discussion section for each collection/item.

We would also like to implement "Available for Sale" options for the users in the event they are interested in selling and for buyers to see if an item is available for sale.</p>

<h2>Thank you for visiting our site! Please feel free to reach out to any of us for questions/recomendations!</h2>