<section>
  {{#each collections as |collection|}}
   <i id="flex"class="fas fa-trash-alt"></i><a href="/collections/{{collection.id}}"><h3>{{collection.name}}</h3></a> 
    <p>{{collection.message}}</p>
  {{/each}}
</section>
  <a href="/create"><h6 class="btn btn-secondary">Create New Collection</h6></a> 