<section>
  <h1>{{collection.name}}</h1>
   <section>
        <p>{{collection.message}}</p>
    </section>
<section id="image">
</section>
  <button id="delete-collection">
    <i id="flex" class="fas fa-trash-alt"></i>
  </button>
</section>

<script src="/js/collection-details.js"></script>
