<section>
  {{#each collections as |collection|}}
  <a href="/collections/{{this.id}}"><h3>{{this.name}}</h3></a> 
    <p>{{this.message}}</p>
  {{/each}}
</section>
  <a href="/create"><h6 class="btn btn-secondary">Create New Collection</h6></a> 
