<section>
    <h1>{{collection.name}}</h1>
   
    <section>
        <p>{{collection.message}}</p>
    </section>
<section id="image">

</section>
     <i id="flex"class="fas fa-trash-alt"></i>
</section>