<h1>Upload an image to your collection</h1>

<form action="#" onsubmit="upload()">
	<input type="file" id="uploadfile"/>
	<input type="submit" value="Upload File"/>
</form>

<div>
    <a id="imageLink" href="">Image Link</a>
</div>

<div>
    <img id="imagePreview" src="https://placehold.co/600x400"/>
</div>


<script type="text/javascript" src="https://unpkg.com/imagekit-javascript/dist/imagekit.min.js"></script>
<script type="text/javascript" src="/js/upload.js"></script>
