<html lang="“en”">
  <head>
    <meta charset='“UTF-8"' />
    <meta
      name="“viewport”"
      content="“width=device-width,"
      initial-scale='1.0"'
    />
    <title>Collectibles</title>
    <link rel="stylesheet" href="css/vapor.css"/>
  </head>
  <body>
    <header>
      <h1> Welcome to Collectibles! </h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="#">Collections</a>
      {{#unless logged_in}}
        <a href="/login">Login</a>
      {{/unless}}
      {{#if logged_in}}
        <a href="" id="logout">Logout</a>
      {{/if}}
    </nav>
    <section>
      {{{body}}}
    </section>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

  </body>
</html>