<html lang="“en”">
  <head>
    <meta charset='“UTF-8"' />
    <meta
      name="“viewport”"
      content="“width=device-width,"
      initial-scale='1.0"'
    />
    <title>Collectibles</title>
    <link rel="stylesheet" href="/css/vapor.css"/>
  </head>
  <body>
    <header>
      <h1 class="title-text"> Welcome to Collectibles! </h1>
    </header>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home
            <span class="visually-hidden">(current)</span>
          </a>
                  </li>
        <li class="nav-item">
          <a class="nav-link" href="/collections">Collections</a>
        </li>
        <li class="nav-item">
                {{#unless logged_in}}
        <a class="nav-link" href="/login">Login</a>
      {{/unless}}
      {{#if logged_in}}
        <a class="nav-link" href="/logout" id="logout">Logout</a>
      {{/if}}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
    </nav>
    <section>
      {{{body}}}
    </section>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

  </body>
</html>